body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 7px;
}

/* Language Changer */

#langChanger { margin-bottom: 10px; }

.sectionTitle {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}

/* Mapbox */

#map {
	top: 0;
	height: 570px;
	bottom: 0;
	width: 100%;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

#map-ui {
	position: absolute;
	top: 2%;
	right: 25px;
	z-index: 100;
	padding: 10px;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#map-ui ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#mainport{ margin-top: 70px; }

.leaflet-control-locate { border: 1px solid rgba(0,0,0,0.4); }

.leaflet-control-locate a {
	background-color: #fff;
	background-position: -3px, -2px;
}

.leaflet-control-locate.active a {
	background-position: -33px -2px;
}

/* Index */

#index ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#index a {
	font-size: 13px;
	background: #fff;
	color: #000;
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #bbb;
	border-bottom-width: 0;
	min-width: 138px;
	padding: 10px;
	text-decoration: none;
}

#index a:hover {
	background: #ecedee;
}

#index li:last-child a {
	border-bottom-width: 1px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#index li:first-child a {
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

#index a.active {
	background: #3887be;
	border-color: #3887be;
	color: #fff;
}

/* Modal Box */

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 75%;
	text-align: center;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.close {
	color: #fff;
	line-height: 25px;
	position: absolute;
	right: -8px;
	text-align: center;
	top: -16px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}